.listaDrinks{
  display: grid;
  grid-template-areas: 
  'foto descricao'
  'foto descricao';
  width: 800px;
  height: 500px;
  margin: auto;
  margin-bottom: 90px;
}

.asDezBebidas{
  grid-area: foto;
  width: 420px;
  background-color: #2e1f1fbb;
}

.cadaFoto{
  width: 120px;
  margin: 10px ;
  
}

.cadaFoto:hover {
  transform: scale(1.40);
  transition: .2s;
  background: var(--laranja);
  cursor: pointer;
}

.escrita{
  margin-top: 19px;
  font-size: 20px;
}