.listaDrinks{
  display: grid;
  grid-template-areas: 
  'foto descricao'
  'foto descricao';
  width: 800px;
  height: 500px;
  margin: auto;
  margin-bottom: 90px;
}

.asDezBebidas{
  grid-area: foto;
  width: 500px;
}

.cadaFoto{
  width: 120px;
  margin: 10px;
}

.escrita{
  margin-top: 19px;
  font-size: 20px;
}