@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;400;700&display=swap');

:root {
  --preto: #101010;
  --vermelho: #5C0511;
  --laranja: #F9AE48;
  --logo-font: "Bilbo Swash Caps";
  --title-font: "Open Sans Condensed";
  --body-font: "Open Sans";
}

/* .botao:hover{
  background-color: #F9AE49;
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}*/