@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;400;700&display=swap');

:root {
  --preto: #101010;
  --vermelho: #5C0511;
  --laranja: #F9AE48;
  --logo-font: "Bilbo Swash Caps";
  --title-font: "Open Sans Condensed";
  --body-font: "Open Sans";
}

.corpo{
  text-align: center;
  display: grid;
  grid-template-rows: 80px 660px;
}

.navmenu{
  box-shadow: 5px 5px 10px rgb(0 0 0 / 42%);
}

.headerPrincipal{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  height: 20px;
  font-family: var(--title-font);
  font-size: 26px;
}

.header:first-child{
  margin-left: 34px;
}

.header:nth-child(5){
  margin-right: 34px;
}

.header:nth-child(3){
  font-family: var(--logo-font);
  font-size: 36px;
  font-weight: 100;
}

.header:hover{
  color: #FCD8A3;
  cursor: pointer;
}

.formsCompleto{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding-top: 40px;
  padding-bottom: 0px;
  margin-left: auto;
  margin-bottom: 120px;
}

textarea{
  padding-bottom: 150px;
}

.botao{
  margin-left: 50%;
  background-color: brown;
  height: 35px;
  width: 250px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 80px;
  color: white;
}

a{
  text-decoration: none;
  color: #101010;
}


.homePrincipal{
  background-image: url('../imgs/img2.jpg');
  background-size: 1340px;
  background-position: center;
  width:1060px ;
  background-repeat: no-repeat;
  padding: 10px 190px 500px 190px;
}

.bonsDrinksTilito{
  font-family: "Bilbo Swash Caps",cursive;
  font-size: 120px;
  text-align: center;
  color: #fffdf8;
  margin-top: 20px;
  margin-bottom: 0;
  animation-name: zoom;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

@keyframes zoom {
  from {font-size: 50px;}
  to {font-size: 120px;}
}


.imgTextCompleto{
  display: grid;
  grid-template-columns: 50% 400px;
  padding-top: 40px;
  padding-bottom: 0px;
  margin-left: auto;
  margin-bottom: 120px;
}

.horaExata{
  text-align: center;
  margin-top: 300px;
  font-size: 35px;
  margin-bottom: 350px;
}

h2{
  text-align: center;
  font-family: var(--title-font);
  font-size: 30px;
}

.forms{
  text-align: left;
  display: grid;
  grid-template-rows: 40px 40px 40px 40px 40px 100px;
  grid-template-columns: 70%;
  font-weight: bold;
  font-size: 20px;
}

.listaDrinks{
  text-align: center;
}

.imagem1{
  margin-left: auto;
  margin-right: 20px;
}

.App-link {
  color: #61dafb;
}

.nossoApp{
  background-color: #FFFDF8;
}


.botao:hover{
  background-color: #F9AE49;
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.mensagemDeErro{
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  font-size: 80px;
  color: #101010;
}

.navmenu{
  background-color: #FFFBEF;
  color: black;
  height: 60px;
  font-size: 29px; 
  font-weight: bold;
}

.footer{
  text-align: center;
  background-color: #FFFBEF;
  color: black;
  height: 15px; 
  font-size: 14px; 
  font-weight: bold;
  margin-bottom: 15px;
}